.navbar-default {
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0px 1px 3px 1px #80808021;
    border-radius: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}
ul.nav.navbar-left, .navbar-header, .header-top {
    position: relative;
    top: 9px;
}
.navbar-right i, .navbar-left i {
    font-size: 22px !important;
}
.flex {
	display: flex;
}
.navbar-right li a {
	text-align: center;
}
.aRight{
	text-align: right;
}
.font-small {
	font-size: 10px;
}
.relative {
	position: relative;
}
.show-section {
	float: right;
    position: absolute;
    right: 0;
    top: -9px;
}
.carousel-inner img {
	width:  100%;
	border-radius: 5px;
}
.carousel-inner .col-sm-3 {
    padding: 0 3px;
}
.attachments{
	padding: 3px 20px 13px;
}
.attachments div {
	border: 2px solid #80808042;
    padding: 6px 5px;
}
.bold {
	font-weight: bold;
}
.panel-default {
    margin-top: 10px;
}
.sub-section {
	background: #337ab74d;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
}
.panel-footer {
    background: none;
    margin: 0 6px;
}
.reactions-sections .btn-success {
    padding: 3px 10px;
    background-color: #5cb85c78;
    border-color: #4cae4c57;
}
.attachments-section {
    padding: 14px 0 0 0;
}
.attachments-section div {
	border: 2px solid #80808042;
    padding: 6px 5px;
}
.reactions-sections-images img {
	width: 50px;
}
ul {
	list-style: none;
}
.reactions-list i.fa {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 22px;
}
.common {
    background: aliceblue;
    padding: 12px;
    border-radius: 4px;
}
i.fa.fa-user {
    font-size: 25px;
}
.media-heading {
	font-weight: bold;
}
.votes-list span {
	margin-right: 20px;
}
textarea.form-control {
    height: 34px;
    resize: initial;
}
.footer-section {
	padding: 15px 0;
}
.right-pane {
	border-left: 1px solid #8080801c;
    border-right: 1px solid #8080801c;
}
.fa-folder-open {
	font-size: 24px;
    position: relative;
    top: 6px;
}
.sidebar-footer {
    padding: 7px 27px 26px 2px;
    border: 2px solid #ddd;
    position: absolute;
    left: 0;
    bottom: -6px;
    z-index: 1;
    background: white;
}
i {
    color: #337ab7;
}
.btn i {
	color: white;
}
.p0{
	padding: 0;
}

@media screen and (max-width: 767px) {
	.navbar-right li a {
		text-align: left;
	}
	ul.nav.navbar-left, .navbar-header, .header-top {
	    top: 0px;
	}
	.sidebar-footer {
		position: relative;
	}
	.form-control {
		margin-bottom: 10px;
	}
	.btn {
	    margin: 5px 0;
	}
}